<nav class="navbar navbar-expand-lg" style="background-color: rgb(46, 142, 167);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="margin-left: 5%; color:white; font-size: 30px; ">I-Intern</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto nav-one" style="padding-left: 15%;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="font-size: 22px; color: white;padding-right: 30px;" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="font-size: 22px; color: white; padding-right: 30px;"  [routerLink]="['/about_us']" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="font-size: 22px; color: white; padding-right: 30px;" [routerLink]="['/gallery']" href="#">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="font-size: 22px; color: white; padding-right: 30px;" [routerLink]="['/contact_us']"  href="#">Contact us</a>
        </li>
      
      </ul>

      <ul class="navbar-nav mr-auto nav-two">
        <li class="nav-item li-one">
          <a class="nav-link active" style="font-size: 22px; color: white;" href="#" [routerLink]="['/login']" >Login</a>
        </li> 
        
        <li class="nav-item">
          <button type="button" class="btn btn-primary mt-2" style="border-radius: 50px; color: blackz; background-color: black" [routerLink]="['/signup']">Get Started</button>
        </li> 
      </ul>
    </div>
  </div>
<!-- </nav><nav class="navbar navbar-expand-lg" style="background-color: rgb(46, 142, 167);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="margin-left: 5%; color:white; font-size: 30px; ">I-Intern</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto nav-one" style="padding-left: 15%;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="font-size: 22px; color: white;padding-right: 30px;" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="font-size: 22px; color: white; padding-right: 30px;" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="font-size: 22px; color: white; padding-right: 30px;" href="#">gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="font-size: 22px; color: white; padding-right: 30px;" href="#">contact us</a>
        </li>
        
      </ul>

      <ul class="navbar-nav mr-auto nav-two">
        <li class="nav-item li-one">
          <a class="nav-link active" style="font-size: 22px; color: white;" href="#" [routerLink]="['/login']" >login</a>
        </li> 
        
        <li class="nav-item">
          <button type="button" class="btn btn-primary mt-2" style="border-radius: 50px; color: blackz; background-color: black" [routerLink]="['/signup']">Get Started</button>
        </li> 
      </ul>
    </div>
  </div>
</nav> -->