<!-- Footer -->
 
 
<footer class="page-footer font-small indigo" style="background-color: #04495a;">
 
 
 
  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" style="color: white">HOME</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" style="color: white;" [routerLink]="['/about_us']">ABOUT US</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" style="color: white" [routerLink]="['/gallery']">GALLERY</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" style="color: white" [routerLink]="['/contact_us']">CONTACT US</a>
        </h6>
      </div>
      <!-- Grid column -->



    </div>

    <hr style="border: 1px solid ;color: white" />
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem; color: white;">I-Intern is an Indian Online Education platform that offers courses to upgrade your Skills.
          It is an excellent platform for students who want to start their career in their chosen field. You can trust that we are safe and will show you the right path.</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">





    <div class="row pb-3">
      <div class="col-md-12">

        <div class="mb-5 flex-center">

          <a class="fb-ic" href=" https://www.facebook.com/I_intern-111384641054848" >
            <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
 
          </a>

          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
          </a>

          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
          </a>

          <!-- <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
          </a> -->
            <a class="ins-ic" href="https://www.instagram.com/i_intern_/">
            <i class="fab fa-instagram fa-lg white-text mr-4"> </i></a>

          <!-- <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text"> </i>
          </a> -->

        </div>

      </div>
       </div>








  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: white;">©2020:
    <a href="#" style="color:white ;"> I-Intern.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
