<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="line1">
            <div class="col-md-12 mt-4">
                <h3 style="text-align: center;">About Us</h3>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="line1">
            <div class="col-md-12 mt-3">
                <img src="../../assets/images/9bb3830c-fbb1-44ea-bf9a-2f7fbd9a6596.jfif" style="margin-left:62vh" width="350vh">
                <p style="font-size: 20px; text-align: center;" >“REAL GROWTH COMES FROM REAL EXPERIENCE” I-Intern provides best internship opportunities and various professional courses for students 
                    as well as for the people who are looking for job change in their career.</p>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="lin2">
            <div class="col-md-12 mt-3">
                
                <h2 style="text-align: center ;">Why i-intern? </h2>
                <img src="../../assets/images/593e3e5d-848c-43e2-83de-02757f933145.jfif" width="450vh"  style="margin-left: 55vh;">

                <P style="font-size: 20px; text-align: center;">We provide unique platform where you can enhannce your technical skills through Live projects, Events and learn variety of courses to learn from us.</P>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="lin2">
            <div class="col-md-12 mt-3">
              
                <h2 style="text-align: center ;">Who can join i-intern?  </h2>
                <img src="../../assets/images/e442ffdc-f156-439a-a9b7-89d632f75a43.jfif" width="455vh"  style="margin-left: 55vh;">
                <P style="font-size: 20px; text-align: center;">Students who want to get real Industry Exposure and gain practical as well as technical knowledge along with their academics can join us.</P>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="lin2">
            <div class="col-md-12 mt-3">
                <h2 style="text-align: center;">We'd love to get in touch! </h2>
                
               
            </div>
        </div>

    </div>
    <div class="row">
        <div class="button">
        <div class="col-lg-12 mt-3 mb-4" style="text-align: center;" >
            <button [routerLink]="['/signup']" style="border-radius: 8px; font-size: 25px; background-color: #04495a; color: whitesmoke;">Let's connect
            </button>

        </div>
    </div>
    </div>

</div>
<app-footer></app-footer>
