<nav class="navbar navbar-expand-lg" style="background-color: #04495a">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: white; ">I intern</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/event']" style="color: white;" href="#">Webinar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"[routerLink]="['/webinar']" style="color: white;">Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/book']" style="color: white;">Feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white; cursor: pointer;" (click)="logout()" >Logout</a>
          </li>
        
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
