<app-nav2></app-nav2>
<!-- <br>
<div class="row" style="flex-direction: row; flex-wrap: wrap;">

    <div class="col-lg-4 col-12" *ngFor="let obj of arr">

    <div class="col">
        <div class="card">
            <img src="../../assets/images/Mean.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{obj.cardtitle}}</h5>
                <p class="card-text">{{obj.shortmessage}}</p>
            </div>
        </div>
    </div>
</div>
</div> -->
<div class="container ">
    <div class="row mt-4">
       <div class="col-md-4">
        <div class="card" style="width: 24rem;">
            <img src="../../assets/images/1.jpg" width="100%" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">IIT Delhi Events</h5>
              <p class="card-text">IIT Main Campus.New Delhi 110016</p>
              <p class="card-text">Date:- 11-6-2022</p>
                       <p class="card-text">Time:- 11:10 AM</p>
 
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 24rem;">
                <img src="../../assets/images/2.jpg" width="100%" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Delhi University</h5>
                  <p class="card-text">Gandhi Nagar Delhi 110016.</p>
                  <p class="card-text">Date:- 11-6-2022</p>
                       <p class="card-text">Time:- 11:10 AM</p>
 
                </div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 24rem;">
                    <img src="../../assets/images/3.jpg" width="100%" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">JIMS (GGSIPU)</h5>
                      <p class="card-text">Rohini Sec. 5 Delhi 110016</p>
                      <p class="card-text">Date:- 11-6-2022</p>
                       <p class="card-text">Time:- 11:10 AM</p>
 
                    </div>
                  </div>
                </div>
 
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
         <div class="card" style="width: 24rem;">
             <img src="../../assets/images/4.jpg" width="100%" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">FIMT (GGSIPU)</h5>
               <p class="card-text">Kapasheda Border Delhi 110016</p>
               <p class="card-text">Date:- 11-6-2022</p>
                       <p class="card-text">Time:- 11:10 AM</p>
 
             </div>
           </div>
         </div>
         <div class="col-md-4">
             <div class="card" style="width: 24rem;">
                 <img src="../../assets/images/55.jpg" width="100%" class="card-img-top" alt="...">
                 <div class="card-body">
                   <h5 class="card-title">VIPS (GGSIPU)</h5>
                   <p class="card-text">Pitampura Delhi 110016</p>
                   <p class="card-text">Date:- 11-6-2022</p>
                       <p class="card-text">Time:- 11:10 AM</p>
 
                 </div>
               </div>
             </div>
             <div class="col-md-4">
                 <div class="card" style="width: 24rem;">
                     <img src="../../assets/images/6.jpg" width="100%" class="card-img-top" alt="...">
                     <div class="card-body">
                       <h5 class="card-title">World College of Engineering</h5>
                       <p class="card-text">Farukhnagar Gurgaon 122001</p>
                       <p class="card-text">Date:- 11-6-2022</p>
                       <p class="card-text">Time:- 11:10 AM</p>


 
                     </div>
                   </div>
                 </div>
 
     </div>
 
 
 
    </div>
 
 