<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/WhatsApp Image 2021-02-12 at 5.33.06 PM.jpeg" style="height: 100vh;" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5 class="animated bounceInRight" style="animation-delay: 1s; color: black;"> apply to internship <h5 style="color: brown;">Hear back every time</h5></h5> -->
        <!-- <p class="animated bounceInLeft" style="animation-delay: 2s;">Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
        <!-- <p class="animated bounceInRight" style="animation-delay: 2s;"> <a href="#"> more info</a>
        </p> -->
      </div>
    </div>
    
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container-fluid" style="background-image: linear-gradient(to right, #7bbcd3, #71bad4, #67b9d5, #5bb7d6, #4eb5d7, #3faecc, #2fa6c2, #1c9fb7, #0a909f, #028188, #037272, #08635d); border-radius: 8px;">
  <div class="row">
    <div class="col-md-12" style=" margin-top: 1%;"  >
      <h3 style=" text-align: center; color:  white; text-decoration: underline;">How I-intern works?</h3><br>
      <p style="text-align: center; font-size: 55px; color: white;">Learn.</p>
       <p style="text-align: center; font-size: 55px; color: white;">Implement</p> 
      <p style="text-align: center; font-size: 55px; color: white;">Innovate<p>
        <!-- <h4 style="margin-left: 5%; color: darkblue; text-decoration: underline;">For Students</h4> -->

      
    </div>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-md-4 " style="display:flex; flex-direction: column; align-items: center; ">
      <div class="content1">
        <div class="card mt-2 mb-3" style="width: 18rem;">
          <div style="text-align: center; margin-top: 2vh;">
          <img src="../..//assets/images/unnamed.png" style="width: 35%; height: 20%; text-align: center;" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Training certificate</h5>
            <p class="card-text"> On successful completion of training program, 
              training certificate will be provided in collaboration with training partners</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="display:flex; flex-direction: column; align-items: center; ">
      <div class="content2">
        <div class="card mt-2 mb-3" style="width: 18rem;">
          <div style="text-align: center; margin-top: 2vh;">
          <img src="../../assets/images/1323233.png" style="width: 45%; height: 100%;" class="card-img-top" alt="...">
          </div>

          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Internship Opportunity</h5>
            <p class="card-text">Internship opportunities will be provided to the students on completion of training program.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-md-4" style="display:flex; flex-direction: column; align-items: center; ">
      <div class="content3 mt-2 mb-3">
        <div class="card mt-2 mb-3" style="width: 18rem;">
          <div style="text-align: center; margin-top: 2vh;">
        <img src="../../assets/images/106960_facultyrating.png" style="width: 45%; height: 80%;" class="card-img-top" alt="...">
        </div>

        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">Doubt Clearing Session</h5>
          <p class="card-text" style="font-size: 19px;">Any doubts regarding course will be solved within 24 hours.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
       
      </div>
    </div>
    <div>

  </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4" style="display:flex; flex-direction: column; align-items: center; ">
      <div class="content1">
        <div class="card mt-2 mb-3" style="width: 18rem;">
          <div style="text-align: center; margin-top: 2vh;">
          <img src="../..//assets/images/download.jfif" style="width: 49%; height: 40%; text-align: center;" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Career Counselling</h5>
            <p class="card-text"> Get proper guidance for a better growth in career..</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="display:flex; flex-direction: column; align-items: center; ">
      <div class="content2">
        <div class="card mt-2 mb-3" style="width: 18rem;">
          <div style="text-align: center; margin-top: 2vh;">
          <img src="../../assets/images/images.png" style="width: 42%; height: 90%;" class="card-img-top" alt="...">
          </div>

          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Hands on Exercises</h5>
            <p class="card-text">Internship opportunities will be provided to the students on completion of training program.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-md-4" style="display:flex; flex-direction: column; align-items: center; ">
      <div class="content3 mt-2 mb-3">
        <div class="card mt-2 mb-3" style="width: 18rem;">
          <div style="text-align: center; margin-top: 2vh;">
        <img src="../../assets/images/touchscreen-mobile-device-icon-png-favpng-BmE7w1Fufbk2LwyRV6xrjmGPr_t.jpg" style="width: 55%; height: 90%;" class="card-img-top" alt="...">
        </div>

        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">Feature on Newsletter</h5>
          <p class="card-text" style="font-size: 16px;">On completion of your training program, selected students will be featured in the internship which we send to the companies.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
       
      </div>
    </div>
    <div>

  </div>
  </div>
  </div>

 

</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="program1">
        <img src="../../assets/images/Man-at-Computer-Image.png" width="100%" height="100%" style="margin-top: 8vh;">
        
      </div>
    </div>
    <div class="col-md-6">
      <div class="program2 mt-4">
        <h1 style="text-align: center; color: #1451a6;">Why Join This Program?</h1>
        <ul style="margin-left: 13vh; font-size: 35px;">
          <li>
        <div class="about-ppp2020-list-txt mt-4" style="font-size: 25px;">Gain Valuable Work Experience
          
        </div>
        </li>
        </ul>
        <ul style="margin-left: 13vh; font-size: 35px;">
          <li>
        <div class="about-ppp2020-list-txt mt-4" style="font-size: 25px;">Explore career           
        </div>
        </li>
        </ul>
        <ul style="margin-left: 13vh; font-size: 35px;">
          <li>
        <div class="about-ppp2020-list-txt mt-4" style="font-size: 25px;">Top Industry Courses like angular, nodejs, python, react native and more.
          
        </div>
        </li>
        </ul>
        <ul style="margin-left: 13vh; font-size: 35px;">
          <li>
        <div class="about-ppp2020-list-txt mt-4" style="font-size: 25px;">Hands on Project: 1-on-1 Sessions
          
        </div>
        </li>
        </ul>
        <ul style="margin-left: 13vh; font-size: 35px;">
          <li>
        <div class="about-ppp2020-list-txt mt-4" style="font-size: 25px;">Technical Seminars
          
        </div>
        </li>
        </ul>
        <ul style="margin-left: 13vh; font-size: 35px;">
          <li>
        <div class="about-ppp2020-list-txt mt-4" style="font-size: 25px;">Performance Evaluation and Grading
          
        </div>
        </li>
        </ul>
        <ul style="margin-left: 13vh; font-size: 35px;">
          <li>
        <div class="about-ppp2020-list-txt mt-4" style="font-size: 25px;">Mentor Support and many more...</div>
        </li>
        </ul>
       </div>
  </div>
  </div>


<!--   
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" style="border: 1px solid black; border-radius: 20px; background-color: chocolate;">
      <div class="team1">
        <h1 style="text-align: center;">Our team</h1>

      </div>
      
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 " style="display:flex; flex-direction: column; align-items: center; ">
        <div class="content1">
          <div class="card mt-2 mb-3" style="width: 18rem;">
            <div style="text-align: center;">
            <img src="../..//assets/images/sho.jpeg" style="width: 100%; height: 10%; text-align: center;" class="card-img-top" alt="...">
            </div>
         
          </div>
        </div>
      </div>
      <div class="col-md-3" style="display:flex; flex-direction: column; align-items: center; ">
        <div class="content2">
          <div class="card mt-2 mb-3" style="width: 18rem;">
            <div style="text-align: center;">
            <img src="../../assets/images/aas.jpeg" style="width: 100%; height: 350px;" class="card-img-top" alt="...">
            </div>

          </div>
   
        </div>
      </div>
      <div class="col-md-3" style="display:flex; flex-direction: column; align-items: center; ">
        <div class="content3 mt-2 mb-3">
          <div class="card mt-2 mb-3" style="width: 18rem;">
            <div style="text-align: center; margin-top: 2vh;">
          <img src="../../assets/images/nan.jpeg" style="width: 70%; height: px;" class="card-img-top" alt="...">
          </div>
   
        
        </div>
   
        </div>
      </div>
      <div class="col-md-3" style="display:flex; flex-direction: column; align-items: center; ">
        <div class="content3 mt-2 mb-3">
          <div class="card mt-2 mb-3" style="width: 18rem;">
            <div style="text-align: center;">
          <img src="../../assets/images/nav.jpeg" style="width: 80%; height: 80%;" class="card-img-top" alt="...">
          </div>
   
     \
        </div>
   
        </div>
      </div>
      <div>
   
    </div>
    </div>
  </div> -->





</div>
