<div class="container">
<div class="mb-3">
    <label for="formFile" class="form-label">Image </label>
    <input class="form-control" name="Image" [(ngModel)]="Image" type="file" id="formFile">
  </div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Project Title</label>
    <input type="email" class="form-control" name="cardtitle" [(ngModel)]="cardtitle" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Short details </label>
    <textarea class="form-control" name="shortmessage" [(ngModel)]="shortmessage" id="message" rows="3"></textarea>
</div>
<button type="button" (click) = "plusData()" class="btn btn-primary">Upload</button>
</div>